.profile {
    background-color: rgba(128, 128, 128, 0.2);

    display: grid;
    grid-gap: 5px;
    grid-template-areas:
            "w"
            "a_d"
            "mP ";
    grid-template-columns: auto ;
    grid-template-rows: auto auto auto;

}

