.myposts {
    color: black;
    padding: 20px;
    background-color: #a1a19b;
}

.myposts textarea {
    width: 50%;
    height: 50px;
    background-color: rgba(128, 128, 128, 0.3);
    border-color: black;
}

.myposts button {
    background-color: rgba(255, 185, 51, 0.95);
    padding: 5px;
    border-color: rgba(255, 185, 51, 0.95);
    font-size: 20px;
    border-radius: 4px;
}

.newPost {
    background-color: #efefef;
    margin: 0;
    padding: 20px;
}