.news{
    background-color: rgba(89, 255, 0, 0.55);
}

.newArticle{
    color: crimson;
    padding: 10px;
}
.divImg{
    width: 100px;
}
.title{
    color: #012024;
    font-size: 32px;
}
.text{
    color: crimson;
    font-size: 26px;
}

